<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cursuri de arte martiale pentru incepatori si avansati in Bucuresti. Clase de Muay Thai, Kickboxing, MMA, Karate.">
        <meta name="keywords" content="arte martiale, karate, muay thai, kickboxing, MMA, sport, dojo, club sportiv, club, antrenament, kickboxing, boxing, autoaparare, sport de contact">
        <title>Oni Dojo - eroare</title>
        <link rel="stylesheet" type="text/css" href="/stuff/css/eroare.css">
        <%- include("../fragmente/head.ejs");  %> 


    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>