<!--Etapa 1_Task 1-->
<!DOCTYPE html>
<html lang="ro">
    <!--Etapa 1_Task 2-->
    <head>
        
        
        <meta name="keywords" content="arte martiale, karate, muay thai, kickboxing, MMA, sport, dojo, club sportiv, club, antrenament, kickboxing, boxing, autoaparare, sport de contact">
        <title>Oni Dojo</title>
        <meta name="description" content="Cursuri de arte martiale pentru incepatori si avansati in Bucuresti. Clase de Muay Thai, Kickboxing, MMA, Karate.">
       <%- include("../fragmente/head.ejs") %> 
        <!-- Etapa 1_Task 1 -->
       
       




    </head>
<!--Etapa 1_Task 4-->
    <body>
        <%- include("../fragmente/header.ejs") %>

        <main>
            <div id="grid-galerie">
                <% for (let imag of locals.imagini) {
                    d=new Date();
                    var v_zile=["luni","marti","miercuri","joi","vineri","sambata"];
                    if(imag.zile && imag.zile.includes(v_zile[d.getDay()])){

                    %>
                   
                        <figure>
                            <picture>
                                <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                                <img src="<%- imag.fisier %>" alt="imagine">
                            </picture>
                            <figcaption><%- imag.descriere %></figcaption>
                        </figure>
            
                        <% }  %>
                <% }  %>
            </div>
            
            <!-- Etapa 1_Task 6 -->
            <div id="grid-pagina">
            <section id="intro">
                <h2 id="shortabout">Arte Martiale Oni - Autoaparare si Disciplina</h2>
                <button class="btn btn-success">ceva</button>
                <!-- Etapa 1_Task 9 si 10 -->
                <p>Clubul nostru a luat nastere in 2016 ca urmare a pasiunii antrenorilor nostrii, Stefan si Bogdan, fosti colegi de facultate, fata de culturile si traditiile japoneze si tailandeze, pasiune dobandita in perioada 2011-2015 cand cei doi au locuit in Bangkok si Okinawa. Au luat parte la numeroase clase si antrenamente in cadrul unora dintre cele mai prestigioase cluburi de arte martiale asiatice, avand onoarea de a fi antrenati de maestri veritabili ai stilurilor <b>Muay Thai</b> si <b>Karate</b>. Au asimilat nu numai tehnici de autoaparare, dar si tehnici ce armonizeaza mintea si corpul. Aceste cunostiinte au decis sa le transmita mai departe tuturor celor care sunt interesati de aceasta lume a artelor martiale, care doresc sa practice sport intr-un mediu placut si prietenos si care vor sa-si depaseasca limitele. Dojo-ul nostru dispune de numeroase facilitati precum un tatami spatios, saci de box, ring, si multe altele, menite sa ofere o experienta cat mai enjoyable in cadrul clubului. <strong>Va asteptam cu drag la antrenamente! OSS!</strong> </p>
                <section id="vrajeala">
                     <!-- Etapa 1_Task 7 -->
                    <h3><q>You have power over your mind, not outside events. Realize this, and you will find strength.</q></h3>
                    <em>Marcus Aurelius</em>
                    <figure>
                        <picture>
                            <source media="(max-width: 800px)" srcset="./stuff/pics/3.png">
                            <source media="(max-width: 1400px)" srcset="./stuff/pics/2.png">
                            <source media="(max-width: 2000px)" srcset="./stuff/pics/1.png">
                            <img id="poza" src="./stuff/pics/1.png" alt="karate-training">
                        </picture>
                        <figcaption id="figcap">Student Oni ~ Cantonament Neptun 2022</figcaption>
        
                    </figure>
                    <p>Suntem de parere ca o minte puternica sta la baza succesului, iar aceasta calitate poate fi cultivata si intregita prin exercitiu si disciplina, prin repetitie si perseverenta. Trebuie sa fim consecventi in actiunile noastre si sa ne adaptam de fiecare data cand suntem pusi fata in fata cu necunoscutul, numai astfel putand sa ne atingem potentialul. Acest lucru este evidentiat in unul dintre cele mai faimoase citate ale lui Bruce Lee:</p>
                    <blockquote cite="https://brucelee.com/podcast-blog/2016/7/20/2-be-water-my-friend">
                        <i>"Be Water, My Friend.<br>
                        Empty your mind.<br>
                        Be formless, shapeless, like water.<br>
                        You put water into a cup, it becomes the cup.<br>
                        You put water into a bottle, it becomes the bottle.<br>
                        You put it into a teapot, it becomes the teapot.<br>
                        Now water can flow or it can crash.<br>
                        Be water, my friend."</i></blockquote>

                </section>
            </section>
            <!-- Etapa 1_Task 8 -->
            
            <div id="tabel" style="overflow-x: auto;">
                <h2>Program</h2>
                
                <table id="program">
                    <thead>
                        <tr>
                            <th colspan="1">Zi</th>
                            <th colspan="2">Clasa-Karate</th>
                            <th colspan="2">Clasa-Kickboxing</th>
                            <th colspan="3">Clasa-Muay Thai</th>
                            <th colspan="1">Clasa-MMA</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        
                        <tr>
                            <td>L</td>
                            <td>10:00</td>
                            <td>12:00</td>
                            <td>14:00</td>
                            <td>16:00</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>18:30</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>-</td>
                            <td>-</td>
                            <td>14:00</td>
                            <td>-</td>
                            <td>16:30</td>
                            <td>18:00</td>
                            <td>19:30</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Mi</td>
                            <td>14:00</td>
                            <td>16:00</td>
                            <td>18:00</td>
                            <td>19:30</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>J</td>
                            <td>-</td>
                            <td>-</td>
                            <td>14:00</td>
                            <td>-</td>
                            <td>16:30</td>
                            <td>18:00</td>
                            <td>19:30</td>
                            <td>21:00</td>
                        </tr>
                        <tr>
                            <td>V</td>
                            <td>10:00</td>
                            <td>12:00</td>
                            <td>16:00</td>
                            <td>18:00</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>-</td>
                            <td>-</td>
                            <td>10:00</td>
                            <td>-</td>
                            <td>12:00</td>
                            <td>14:00</td>
                            <td>-</td>
                            <td>16:00</td>
                        </tr>
                    </tbody>
                    <tfoot> 
                        
                         <tr>
                            <td colspan="9">Bau</td>
                         </tr>
                    </tfoot>

                    <caption style="caption-side:bottom">Oni Dojo</caption>
                    
                </table>
                

            </div>
            <section id="calendar">
                <h2>
                    <i class="fa-regular fa-calendar-days fa-flip" style="--fa-animation-duration: 8s;"></i>
                    Calendar</h2>
                <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quod sed perspiciatis facere rerum cum praesentium, architecto, ab laudantium eum voluptates quaerat a labore harum voluptate, nostrum tenetur possimus alias?
                </p>
            </section>

            <section id="anunturi">
                <h2>Anunturi</h2>
                <p>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quam ad, saepe possimus nostrum ex esse est voluptates ea alias, veniam fuga culpa aspernatur! Nobis necessitatibus modi quaerat sequi sapiente.
                </p>
            </section>

            <section id="utilizatori">
                <h2>Utilizatori</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates consequuntur necessitatibus omnis quaerat ad nulla dicta, vel, distinctio repellendus hic maxime eaque! Sequi at sunt inventore dolorum unde nesciunt nam?
            </section>

            <section id="statis">
                <h2>Statistici</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ipsum voluptas deserunt tempore porro ex suscipit, doloribus sint ut dolorum vel, expedita iste accusamus temporibus dolores facere quam, sed perspiciatis.
            </section>

            <section id="server">
                <h2>Server</h2>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio amet eligendi iusto vitae quam fuga aut quae in laudantium eos quas, exercitationem saepe, neque id, veniam molestiae. Blanditiis, consequatur dolor!
                </p>
            </section>

            <section id="int-stuff">
                <!-- Etapa1_Task11 -->
                <h2>Interesting stuff</h2>
                <ul>
                    <li>
                <p><strong>Playlist-ul saptamanii!!!: </strong><a href="https://open.spotify.com/playlist/6zcufHYahKGkI3BT9tGegv?si=4c45fffba0764513" target="_blank">Boohoohooo</a></p>
                    </li>
                    <li>
                        <div class="container-iframe">
                            <div class="butoane">
                            <a href="https://youtube.com/embed/WZ6gGWjqhUk" target="ifr">Antrenament Muay Thai</a>
                            <a href="https://youtube.com/embed/xVYAh0MQtiI" target="ifr">:')</a>
                            <a href="https://youtube.com/embed/-kgVnNAHLLM" target="ifr">Forbidden Knowledge</a>
                            </div>
                            <iframe class="videos" width="560" height="315" src="https://www.youtube.com/embed/WZ6gGWjqhUk" name="ifr" ></iframe>
                        </div> 
                        
                    </li>
                    <li>
                        <a href="./stuff/Iuhu.png" download>O Primavara Frumoasa! Descarca pentru ceva bun bun =)</a>
                    </li>
                    <div>

                        <h2>FAQ</h2>
                        <details>
                            <summary>Trebuia sa am conditie fizica pentru a participa la clase?</summary>
                            NOPE! Oricine este bine-venit, mai ales persoane care simt ca vor o schimbare in viata lor. Suntem aici ca sa ne ajutam unii pe altii si sa evoluam impreuna. Puteti participa la orice clasa, dar pentru incepatori sunt recomandate in special orele de Karate si Muay Thai, intrucat se va pune accent pe invatarea tehnicilor de autoaparare si pe mentinerea si imbunatatirea conditiei  fizice prin diferite exercitii de cardio.
                        </details>
        
                        <details>
                            <summary>Am nevoie de echipament special pentru a putea participa ?</summary>
                            In functie de clasa la care alegeti sa participati, unele echipamente sunt <b>necesare</b> (exemplu: manusi de box la muay thai si karate), altele sunt <b>recomandate</b> pentru a facilita experienta in cadrul exercitiilor de sparring (exemplu: tibiere, genunchiere, cotiere la muay thai si kickboxing). Va punem la dispozitie prin intermediul magazinului online o gama larga de <a href="#equ">echipamente sportive</a>, de la kimono-uri pentru karate la echipamente full pentru muay thai, kickboxing si MMA.
                        </details>
                        <details>
                            <summary>Cum ma pot inscrie?</summary>
                            Puteti completa formularul online sau veniti direct inainte de antrenament si va inscrieti cu ajutorul unui antrenor completand formularul fizic. In scurt timp vi se va emite un card de acces care va trebui scanat de fiecare data cand veniti la antrenament.
                        </details>
                        <details>
                            <summary>Cum functioneaza abonamentul?</summary>
                            Abonamentul se achita lunar si, in functie de preferinta/disponibilitatea fiecaruia, poate permite accesul la 4, 8 sau 12 clase, indiferent de stilul de lupta. Acesta se poate achita atat online, cat si fizic la dojo. <strong>Abonamentul expira dupa o luna, indiferent de numarul de intrari ramase ! :(</strong>. Preturile sunt afisate pe <a href="#sub">pagina</a> destinata magazinului.
                        </details>
        
                    </div>


                </ul>
            </section>
            
            <!-- Etapa1_Task12 -->
            
            </div>

        </main>
        <p id="watermark">Copyright Pavel<br>Neagu</p>

        <%- include("../fragmente/footer.ejs") %>
        <!-- Etapa1_Task14 -->
        <p><small> &copy; Copyright <time datetime="2023-03-07">7 Martie 2023</time></small></p>
    </body>
   



